# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Laboratorios/03-ManejoJDBC/target/
/03-JDBC/ManejoTransaccionesJDBC/target/
/04-JavaEE/HolaMundoJavaWeb/target/
/04-JavaEE/Leccion01/HolaMundoServlets/target/
/04-JavaEE/ManejoParametros/target/
/04-JavaEE/ManejosFormulariosHTML/target/
/04-JavaEE/ManejoFormulariosHTML/target/
/04-JavaEE/ManejoCabeceros/target/
/04-JavaEE/ManejoCodigosEstados/target/
/04-JavaEE/CabecerosRespuesta/target/
/04-JavaEE/ManejoCookies/target/
/04-JavaEE/CookiesContador/target/
/04-JavaEE/EjemploHttpSession/target/
/04-JavaEE/EjemploCarritoCompras/target/
/05-JSPs/HolaMundoJSP/target/
/05-JSPs/DeclaracionesJSP/target/
/05-JSPs/DocumentosJSP/target/
/05-JSPs/EjemploExcelJSP/target/
/05-JSPs/EjemploInclusionEstatica/target/
/05-JSPs/EjemploInclusionDinamica/target/
/05-JSPs/ManejoJavaBeans/target/
/05-JSPs/EjemploExpressionLanguage/target/
/05-JSPs/EjemploJSTL/target/
/05-JSPs/Ejemplo1MVC/target/
/05-JSPs/Ejemplo2MVC/target/
/05-JSPs/ControlClientes/target/
/06-JSFs/HolaMundoJSF/target/
/06-JSFs/BolsaTrabajoV1/target/
/06-JSFs/BolsaTrabajoV2/target/
/06-JSFs/BolsaTrabajoV3/target/
/06-JSFs/BolsaTrabajoV5/target/
/06-JSFs/BolsaTrabajoV6/target/
/06-JSFs/BolsaTrabajoV7/target/
/06-JSFs/BolsaTrabajoV8/target/
/06-JSFs/BolsaTrabajoV9/target/
/07-JavaEE/HolaMundoJavaEE/target/
/06-JSFs/HolaMundoEJB/target/
/07-JavaEE/HolaMundoEJB/target/
/07-JavaEE/sga-jee/target/
/07-JavaEE/sga-jee-web/target/
/07-JavaEE/leccion03/sga_sga-jee-web/target/
/07-JavaEE/leccion04/sga-jee-web/target/
/07-JavaEE/leccion05/sga_sga-jee-web/target/
/07-JavaEE/leccion06/sga-jee-web/target/
/07-JavaEE/leccion07/sga-jee-web/target/
/07-JavaEE/leccion08/sga-jee-web/target/
/07-JavaEE/leccion08/sga-jee/target/
